/* Main Area */
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
}
h1 {
  background-color: rgba(79, 146, 239, 0.5);
  padding-bottom: 5px;
}
/* Class */
.text {
	font-size: 34px;
}
.row {
	padding-top: 5px;
	padding-bottom: 20px;
}
.prize {
	padding-top: 10px;
	font-size: 60px;
	color: red;
}
.spin {
	animation: 3s new-image;
}
/* ID */
#copyright {
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(79, 146, 239, 0.5);
}
/* Keyframes 
@keyframes new-image {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(359deg);
	}
}