* {
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 0;
}
h1 {
    background-color: rgba(240, 173, 78, 0.75);
    padding-bottom: 5px;
}
.text {
	font-size: 36px;
}
.row {
	padding-top: 15px;
}
.prize {
	padding-top: 10px;
	font-size: 64px;
	color: red;
}
#copyright {
	background-color: rgba(240, 173, 78, 0.75);
	bottom: 0;
	position: fixed;
	width: 100%;
}