/* Main Area */
* {
  box-sizing: border-box;
}
body {
	background-image: url(../img/background.png);
  text-align: center;
  margin: 0;
}
/* Class */
.text {
	font-size: 22px;
	color: #34495e;
}
.row {
	padding-top: 10px;
	padding-bottom: 30px;
}
.prize {
	padding-top: 10px;
	font-size: 50px;
	color: #d35400;
}
.image {
	box-shadow: 0 5px 20px;
	color: black;
}
